*{
    padding: 0px;
    margin: 0px;
}
@font-face {
    font-family: "PTSerif";
    src: url("../public/fonts/PTSerif-Regular.ttf");
}
@font-face {
    font-family: "OpenSans";
    src: url("../public/fonts/OpenSans-Regular.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "OpenSans";
    src: url("../public/fonts/OpenSans-Bold.ttf");
    font-weight: bold;
}
body{
    background-color: #F2EEE3;
    font-family: "OpenSans";
}